  <div class="container">
      <nav>
          <div class="logo">LOGO</div>
          <div class="navbar">
            <a href="#"><%= image_tag("menu-button.svg", :alt => "hamburger-menu", :id => "hamburger-menu-icon") %></a>
          </div>
      </nav>
      <header>
          <div class="header-wrapper">
          <div class="header-text">
              <h2>Znajdz</h2>
              <h2>samochod</h2>
              <h2>marzen juz teraz!</h2>
          </div>
      </div>
      </header>
      <section>
          <div class="buttons">
                <div class="button-style">
                    <a href="#"><span>EXTRA</span></a>
                    <a href="#"><span>ZNAJDZ POJAZD</span></a>
                    <a href="#"><span>SPRZEDAJ POJAZD<span></a>
                </div>
          </div>
          <div class="announcement">
              <span><%= link_to 'Ogloszenia', controller: 'announcements' %></span>
              <span><%= link_to 'Ogloszenia', controller: 'announcements' %></span>
              <span><%= link_to 'Ogloszenia', controller: 'announcements' %></span>
          </div>
      </section>
      <footer>
          stopka
      </footer>
  </div>
