// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;

    // NAVBAR - HEADER TOP VALUE
    --top-height: 10vh;
}

    


    /* PAGE LAYOUT - START */

body {
    height: 100vh;
    width: 100vw;
    background-color: #ccc;
    min-width: 400px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(255,166,0,1) 30%, rgba(255,166,0,1) 100%);
    height: var(--top-height);
    flex-basis: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

header {
    display: flex;
    position: relative;
    flex-basis: 100%;
    justify-content: center;
    height: 40vh;
    background-image: asset_url("header-foto.jpg");
    background-size: cover;
    background-position: center;
    margin-top: var(--top-height);
}

.header-wrapper {
    display: flex;
    position: relative;
    flex-basis: 100%;
    justify-content: center;
    height: 40vh;
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 64%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    height: 100vh;
    flex-basis: 100%;
}

footer {
    display: flex;
    flex-basis: 100%;
    height: 10vh;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

    /* PAGE LAYOUT - END*/

    // NAVIGATION MENU - START

.logo {
    margin-left: 20px;
    color: black;
    background-color: white;
    font-size: 24px;
}

.navbar {
    margin-right: 20px;
}

#hamburger-menu-icon {
    height: 3rem;
}

    // NAVIGATION MENU - END

.header-text {
    position: absolute;
    bottom: 30px;
    right: 30px;;
    text-align: right;
    z-index: 1;
    color: white;
}

.header-text h2 {
    font-size: 26px;
    // line-height: 24px;
    opacity: 1;
}

    // BUTTONS - START

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    height: 50vh;
}

.button-style {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-around;
}

.button-style a {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: black;
    transform: skew(-30deg);
    color: white;
    font-size: 42px;
    text-decoration: none;
    padding: 12px;
    height: 42px;
    transition: .3s;
    span {
        transform: skew(30deg);
    }
}
.button-style>:nth-child(1) {
    justify-content: center;
    border: 2px solid rgba(255,166,0,1);
    background-color: rgba(255,166,0,1);
    transform: skew(30deg);
    color: black;
    font-size: 42px;
    text-decoration: none;
    padding: 12px;
    height: 42px;
    span {
        transform: skew(-30deg);
    }
}

.button-style a:hover {
    color: rgba(255,166,0,1);

}


    // BUTTONS - END

    // ANNOUNCEMENTS - START

.announcement {
    display: flex;
    flex-basis: 100%;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    span {
        border: 2px solid #434343;
        padding: 40px 100px;
        font-size: 42px;
        transition: .3s;
        a {
            text-decoration: none;
            color: black;
        }
        
    }
}

.announcement span:hover {
    background-color: #434343;
    a {
        color: white;
    }
}

    // ANNOUNCEMENTS - END